* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
    html {
      -ms-overflow-style: none;
      /* for Internet Explorer, Edge */
      scrollbar-width: thin;
      /* for Firefox */
      overflow-y: scroll;
      overflow-x: hidden;
      overflow-wrap: normal;
      scroll-behavior: smooth;
      -moz-osx-font-smoothing: grayscale;  
      background: var(--gray-100);
      text-underline-position: under;
      text-rendering: optimizeLegibility;
    }

    body {
      display: flex;
      flex-direction: column; 
      font-kerning: auto;
      transition: background 1s ease;
      background: var(--background-color);
    } 


    :root {
        /* Primary Colors */
        --text-color:  #272727;
        --accent-color: #0102E7;
        --background-color: #FFF5EE;
  
        /* Font Families */
        --nunito-font: "Nunito Sans", Arial, Helvetica, sans-serif;
        --play-font: "Playfair Display", Arial, Helvetica, sans-serif;
    
        /* Font Sizes */
        --size-14: 0.875rem;
        --size-16: 1rem;
        --size-23: 1.438rem;
        --size-32: 2rem;
        --size-45: 2.813rem;
        --size-64: 4rem;
        --size-90: 5.625rem;
        --size-128: 8rem;
        --size-180: 11.25rem;
      }

    /******* HEADER ********/
   
    /*Navigation*/
    nav {      
        position: fixed;
        z-index: 9999;
        height: 6rem;
        max-width: 100%;
        width: 100%;
        padding-right: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-color);
        content: '';
        transition: .45s ease-in-out;  
      }

    .nav-links {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        list-style: none;
        max-width: 100%;
        width: 100%;
        vertical-align: baseline;
        font: 500 var(--size-16) / 1.1 var(--nunito-font), sans-serif;
        transition: all ease-in-out 400ms;
      }
      
      .nav-links li a {
        color: var(--text-color);
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all ease-in-out 400ms;
        text-align: center;
        padding-left: 1rem;
        float: left;
      }
      
      .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        transition: width ease-in-out 400ms;
        background: var(--accent-color);
      }
      
      .nav-link:hover {
        color: var(--accent-color);
        transition: all ease-in-out 400ms;
      }
      
      .nav-link:hover::after {
        width: 100%;
        transition: width ease-in-out 400ms;
      }
     
    /*Hero Background*/
      .bg-hidden {
        top: -100%;
        opacity: 0;
      }
      
      .bg-visible {
        top: 0;
        opacity: 1;
      }
      
      .hero {
        position: relative;
        width: 100%;
        height: 600px;
        background: var(--background-color) no-repeat 50% 50% fixed;
        background-size: 130%;
        overflow: hidden;
      }
      
      /*Hero Title*/
      .hero h1 {
        font: 700 var(--size-45) / 110% var(--nunito-font), sans-serif;
        letter-spacing: -1px;
        position: absolute;
        color: var(--text-color);
        display: inline;
        top: 0%;
        max-width: 60%;
        width: 100%;
      }

      /*#h1_gradient {
        font: 700 var(--size-45) / 110% var(--nunito-font), sans-serif;
        color: var(--text-color);
        background: radial-gradient(#112C71, #5B58EB, #BB63FF);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100px 100px;
      } */

      
       /******** VIDEO SECTION ********/
       .video-container {
        max-height: 40%;
        height: 30%;
       }

       .home-hero_vid {
        max-width: 100%;
        width: 100%;
        margin: auto;
       }


     /******* CASE STUDIES - MAIN ********/

     /*Reveal*/
     .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 1s all ease;
    }

    .reveal.active{
      transform: translateY(0);
      opacity: 1;
    }


    /*Case Study*/
     .section-wrap{
        margin: 0rem 1.5rem;
     }

     .container {
        display: flex;
        padding: 6rem 0rem 0rem 0rem;
      }

      .section-heading {
        width: 50%;
        border-top: 1px solid var(--text-color);
        position: sticky;
      }

      .sticky-heading {
        position: sticky;
        max-width: 75%;
        top: 1.5rem;
        margin: 0;
        padding-top: 1rem;
        vertical-align: baseline
     }
    
      .product-grid {
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        border-top: 1px solid var(--text-color);
     }
      
      .product-grid.grid-full > div {
        width: 100%;
     }

      .product-card {
        margin-bottom: 3rem;
        position: relative;
        display: inline-block;
        transition: all ease-in-out 400ms;
     }
  
      .product-card img {
        image-rendering: optimizeQuality;
        display: block;
        width: 100%;
        height: 748px;
        object-fit: cover;
        filter: grayscale(1);
        transition: all ease-in-out 400ms;
     }

     .product-card .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .product-card:hover .img-top {
        display: inline;
        filter: grayscale(0);
    }

    /*Span No.*/
     span {
        font: 400 var(--size-16) / 100% var(--nunito-font), sans-serif;
        color: rgba(39, 39, 39, 0.8);
     }

     /*H2*/
     h2 {
        font: 700 var(--size-64) / 100% var(--nunito-font), sans-serif;
        color: var(--text-color);
        padding: 0.5rem 0rem 1.5rem 0rem;
        letter-spacing: -3px;
     }

     /*Text*/
     p {
        font: 500 var(--size-23) / 135% var(--nunito-font), sans-serif;
        color: var(--text-color);
        padding-bottom: 3rem;
     }

     /*Button*/
      .btn {
        font: 500 var(--size-16) / 1.1 var(--nunito-font), sans-serif; 
        color: var(--text-color);
        display: flex;
        position: relative;
        background: none;
        cursor: pointer;
        padding: 1rem 2.2rem;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
      }

      .btn:after {
        content: '';
        position: absolute;
        z-index: -1;
        border: none;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
      }

      .btn_a {
        text-decoration: none;
      }
      
      /* Button 1 */
      .btn-1 {
        border: 1.5px solid var(--text-color);
        color: var(--text-color);
        text-decoration: none;
      }

      .btn-1c:after {
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--accent-color);
      }
      
      .btn-1c:hover,
      .btn-1c:active {
        color: var(--background-color);
        border: 1.5px solid var(--accent-color);
      }
      
      .btn-1c:hover:after,
      .btn-1c:active:after {
        width: 100%;
      }

    /******** FOOTER ********/
    .footer_main-wrapper{
      margin: 0rem 1.5rem;
      padding-top: 6rem;
    }

    footer {
      background: var(--background-color);
      padding: 1.5rem 0rem 1.5rem 0rem;
      max-width: 100%;
      width: 100%;
      border-top: 1px solid var(--text-color);
    }
  
    .footer_wrapper {
      display: column;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .footer_child-one {
      flex: 50%;
    }
  
    .footer_child-two {
      flex: 50%;
    }
  
    /*rights*/
    .rights {
      font: 400 var(--size-16) / 100% var(--nunito-font), sans-serif;
      color: var(--text-color);
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
    }
  
    /*socials*/
    .footer_socials,
    .footer_mail {
      display: column;
      flex-wrap: wrap;
      justify-content: left;
      align-items: center;
      list-style: none;
      max-width: 100%;
      width: 100%;
      font: 700 var(--size-23) / 100% var(--nunito-font), sans-serif;
      transition: all ease-in-out 0.4s;
      
    }

    .footer_socials {
      text-transform: uppercase;
      padding: 1.5rem 0rem 0rem 0rem;
    }

    .footer_mail {
      text-transform: lowercase;
    }
  
    .footer_socials li a,
    .footer_mail li a {
      color: var(--text-color);
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: all ease-in-out 400ms;
    }

    .footer_socials li a {
      padding: 0.2rem 0rem;
    }
  
    .footer_link {
      display: inline-block;
    }
  
    .footer_link:hover::after {
      width: 100%;
      transition: width 400ms;
    }
  
    .footer_hover::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      transition: width 400ms;
    }
  
  
    /*footer hover*/
    .footer_hover:hover {
      color: var(--accent-color);
    }
  
    .footer_hover::after {
      background: var(--accent-color);
    }
  

 /********** RESPONSIVE DESIGN **********/


 /* Media Query 767px */
 @media screen and (max-width:767px) {

  /*Navigation*/
  nav {
    padding-right: 0rem;
    padding-left: 0.35rem;
  }

  .nav-links {
    justify-content: left;
  }

  /*Hero*/
  .hero {
    height: 440px;
  }

  .hero h1 {
    font-size: var(--size-23);
    line-height: 115%;
    max-width: 88%;
    width: 100%;
  }

  .hero h1 {
    letter-spacing: -1px;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  /******** VIDEO SECTION ********/
 
   .home-hero_vid {
    max-height: 400px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
   }

  /*Case Study*/
  .container {
    display: grid;
  }

  .section-wrap{
    margin: 0rem 1rem;
 }

  .section-heading {
    order: 2;
    width: 100%;
    border: none;
  }

  .sticky-heading {
    padding-top: 0rem;
  }

  h2 {
    font-size: var(--size-45);
  }

  .product-card img {
    height: 448px;
  }

  .product-grid {
    width: 100%;
 }

 .footer_main-wrapper{
    margin: 0rem 1rem;
 }

}

 /* Media Query 768-1240px */
 @media screen and (min-width:768px) and (max-width: 1240px) {

  .hero h1{
    font-size: var(--size-32);
    line-height: 115%;
    max-width: 60%;
    width: 100%;
  }


  .hero h1 {
    padding-left: 1rem;
    letter-spacing: -2px;
  }

 }

 /* Media Query 1241px */
 @media screen and (min-width:1241px) {
    
    .hero h1 {
      padding-left: 1.5rem;
    }
 }

