* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
    html {
      -ms-overflow-style: none;
      /* for Internet Explorer, Edge */
      scrollbar-width: thin;
      /* for Firefox */
      overflow-y: scroll;
      overflow-x: hidden;
      overflow-wrap: normal;
      scroll-behavior: smooth;
      -moz-osx-font-smoothing: grayscale;  
      background: var(--gray-100);
      text-underline-position: under;
      text-rendering: optimizeLegibility;
    }

    body {
      display: flex;
      flex-direction: column; 
      font-kerning: auto;
      background: var(--background-color);
    } 

    :root {
        /* Primary Colors */
        --text-color:  #272727;
        --accent-color: #0102E7;
        --background-color: #FFF5EE;
  
        /* Font Families */
        --nunito-font: "Nunito Sans", Arial, Helvetica, sans-serif;
        --play-font: "Playfair Display", Arial, Helvetica, sans-serif;
    
        /* Font Sizes */
        --size-14: 0.875rem;
        --size-16: 1rem;
        --size-23: 1.438rem;
        --size-32: 2rem;
        --size-45: 2.813rem;
        --size-64: 4rem;
        --size-90: 5.625rem;
        --size-128: 8rem;
        --size-180: 11.25rem;
    }

    /******* HEADER ********/
    /*Hero Background*/
    .bg-hidden {
        top: -100%;
        opacity: 0;
      }
      
      .bg-visible {
        top: 0;
        opacity: 1;
      }
      
      .hero {
        position: relative;
        width: 100%;
        height: 600px;
        background: var(--background-color) no-repeat 50% 50% fixed;
        background-size: 130%;
        overflow: hidden;
      }
      
      /*Hero Title*/
      .hero h1 {
        font: 700 var(--size-45) / 110% var(--nunito-font), sans-serif;
        letter-spacing: -1px;
        color: var(--text-color);
        position: absolute;
        display: flex;
        padding-left: 1.5rem;
        top: 20%;
        max-width: 58%;
        width: 100%;
      }
   
    /*Navigation*/
    nav {      
        position: fixed;
        z-index: 9999;
        height: 6rem;
        max-width: 100%;
        width: 100%;
        padding-right: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-color);
        content: '';
        transition: .45s ease-in-out;  
    }

    .nav-links {
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        list-style: none;
        max-width: 100%;
        width: 100%;
        vertical-align: baseline;
        font: 500 var(--size-16) / 1.1 var(--nunito-font), sans-serif;
        transition: all ease-in-out 400ms;
    }
      
      .nav-links li a {
        color: var(--text-color);
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all ease-in-out 400ms;
        text-align: center;
        padding-left: 1rem;
        float: left;
    }
      
      .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        transition: width ease-in-out 400ms;
        background: var(--accent-color);
    }
      
      .nav-link:hover {
        color: var(--accent-color);
        transition: all ease-in-out 400ms;
    }
      
      .nav-link:hover::after {
        width: 100%;
        transition: width ease-in-out 400ms;
    }

      /******* MAIN ********/

      /*Parallax Images*/
      .h2_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .h2 {
        font: italic 700 var(--size-32) / 100% var(--nunito-font), sans-serif;
        color: var(--text-color);
        max-width: 50%;
        width: 100%;
      }

      .photo_4 {
        padding-left: 2rem;
      }
      
      @keyframes spin {
        0% { transform: translate(-50%, -50%) rotate(0deg); }
        100% { transform: translate(-50%, -50%) rotate(360deg); }
      }
      
      section {
        margin: 0rem 0px 1rem 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      
      section:nth-child(even) {
        flex-direction: row-reverse;
      }
      
      section div {
        padding: 0px;
        position: relative;
      }
      
      section img {
        padding: 3rem;
        position: relative; 
        max-width: 640px;
        width: 100%;
        object-fit: cover;
      } 


    /******** FOOTER ********/
    .footer_main-wrapper{
        margin: 0rem 1.5rem;
        padding-top: 6rem;
      }

      footer {
        background: transparent;
        padding: 1.5rem 0rem 1.5rem 0rem;
        max-width: 100%;
        width: 100%;
        border-top: 1px solid var(--text-color);
      }
  
      .footer_wrapper {
        display: column;
        flex-wrap: wrap;
        align-items: center;
      }
  
      .footer_child-one {
        flex: 50%;
      }
  
      .footer_child-two {
        flex: 50%;
      }
  
      /*rights*/
      .rights {
        font: 500 var(--size-16) / 100% var(--nunito-font), sans-serif;
        color: var(--text-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
      }
  
      /*socials*/
      .footer_socials,
      .footer_mail {
        display: column;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        list-style: none;
        max-width: 100%;
        width: 100%;
        font: 700 var(--size-23) / 100% var(--nunito-font), sans-serif;
        transition: all ease-in-out 0.4s;
      }

      .footer_socials {
        text-transform: uppercase;
        padding: 1.5rem 0rem 0rem 0rem;
      }

      .footer_mail {
        text-transform: lowercase;
      }
  
      .footer_socials li a,
      .footer_mail li a {
        color: var(--text-color);
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all ease-in-out 400ms;
      }

      .footer_socials li a {
        padding: 0.2rem 0rem;
      }
  
      .footer_link {
        display: inline-block;
      }
  
      .footer_link:hover::after {
        width: 100%;
        transition: width 400ms;
      }
  
      .footer_hover::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        transition: width 400ms;
      }
  
  
      /*footer hover*/
      .footer_hover:hover {
        color: var(--accent-color);
      }
  
      .footer_hover::after {
        background: var(--accent-color);
      }
  

/********** RESPONSIVE DESIGN **********/

 /* Media Query 767px */
 @media screen and (max-width:767px) {

  body {
    max-width: 100%;
    width: 100%;
  }
  
  main {
    overflow:scroll;
    overflow-y: hidden;
  }
    /*Navigation*/
    nav {
      padding-right: 0rem;
      padding-left: 0.35rem;
    }

    .nav-links {
      justify-content: left;
    }

    /*Hero*/
    .hero {
       height: 480px;
    }

    .hero h1 {
      font-size: var(--size-23);
      letter-spacing: -1px;
      padding-left: 1rem;
      max-width: 85%;
      width: 100%;
    }

    .span_hero {
       font-size: 1.5rem;
    }

    .h2_wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .h2 {
      font-size: var(--size-32);
    }

    section {
      margin: 0rem 1rem 0rem 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    section img {
      margin: 1.5rem 0rem;
      max-height: 540px;
      padding: 2rem;
    }

    .footer_main-wrapper{
      margin: 0rem 1rem;
      padding-top: 0rem;
   }

}
